{% extends '::base.html.twig' %}

{% block breadcrumbs %}
	{% include 'HtimeLightCmsBundle:Snippet:breadcrumbs.html.twig' with { 'current_active': null } %}
{% endblock %}

{% block body %}

	<h2>Détails fragment de code n° {{ snippet.id }} </h2>

	<ul>
		<li>Nom : {{ snippet.name }}</li>
		<li>Last update : {{ snippet.lastUpdate|date('d/m/Y à h:m') }}</li>
		<li>Code :<br />
			{{ snippet.content|nl2br }}
		</li>
	</ul>

	<hr>
	
	<p>
		<a href="{{ path('htime_light_cms_snippet_list') }}" class="btn btn-default">
			<span class="glyphicon glyphicon-chevron-left"></span>
			Retour à la liste
		</a>
		<a href="{{ path('htime_light_cms_snippet_edit', { 'id': snippet.id }) }}" class="btn btn-default">
			<span class="glyphicon glyphicon-edit"></span>
			Modifier le fragment de code
		</a>
		<a href="{{ path('htime_light_cms_snippet_remove', { 'id': snippet.id }) }}" class="btn btn-danger">
			<span class="glyphicon glyphicon-trash"></span>
			Supprimer le fragment de code
		</a>
	</p>

{% endblock %}