{% extends 'HtimeLightCmsBundle::layout.html.twig' %}

{% block breadcrumbs %}
	{% include 'HtimeLightCmsBundle:Snippet:breadcrumbs.html.twig' with { 'current_active': null } %}
{% endblock %}

{% block body %}

	<h2>Détails fragment de code n° {{ snippet.id }} </h2>

	<ul>
		<li>Nom : {{ snippet.name }}</li>
		<li>Last update : {{ snippet.lastUpdate|date('d/m/Y à h:m') }}</li>
		<li>Code :<br />
			{{ snippet.content|nl2br }}
		</li>
	</ul>

	<hr>
	
	<div class="horizontal-menu">
		<ul>
			<li>
				<a href="{{ path('htime_light_cms_snippet_list') }}">
					[<] Retour à la liste
				</a>
			</li>
			<li>
				<a href="{{ path('htime_light_cms_snippet_edit', { 'id': snippet.id }) }}">
					[e] Modifier le fragment de code
				</a>
			</li>
			<li>
				<a href="{{ path('htime_light_cms_snippet_remove', { 'id': snippet.id }) }}">
					[x] Supprimer le fragment de code
				</a>
			</li>
		</ul>
	</div>

{% endblock %}